/*  
// MOBILE FIRST APPROACH - GENERAL STYLE FIRST
*/

/* MAIN STYLESHEET */

* {    
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    Font: 16px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}

.content-width {
    max-width: 1116px;
    margin: 0 auto;
}

.warning-message {
    background-color: red;
    color: #FFFFFF;
    padding: 30px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 35vh;
    text-align: center;
    font-size: 1.5em;
    z-index: 200;
}

.warning-message h3 {
    margin-top: 30px;
}

footer {
    background-color: #F1F3F5;
    margin: 0 auto;
    padding-top: 30px;
}

h2 {
    text-transform: uppercase;
    color: #32B846;
    font-size: 2em;
    margin: .5em 0;
}

main {
    background-color: #FFFFFF; 
    background-image: linear-gradient(#F1F3F5, #FFFFFF);
    min-height: 70vh;
    padding: 30px 0;
}

header section {
    display: flex;
    justify-content: space-between;
}

header {
    height: 260px;
}

header section input {
    height: 34px;
    width: 456px;
    padding: 0 12px;
    margin-top: 20px;
    border: 1px solid gray;
    
}

#search-bar {
    background: white url(../img/search-icon.png) right no-repeat;
    padding-right: 30px;
}

header section {
    height: 68px;
}

header h2 {
    font-size: 1.5em;
    margin-bottom: .5em;
}

#logo {
    width: 157px;
    height: auto;
    margin-top: 20px;
}

#logo img {
    width: 100%;
}

.fav-navigation {
    display: flex;
    justify-content: space-between;
}

.fav-navigation figure {
    width: 125px;
    height: 90px;
    background-color: #fff;
    text-align: center;
    line-height: 90px;
    border-radius: 3px;
    box-shadow: 0.1px 0.1px 10px #bbbbbb;
}

.fav-navigation a {
    text-decoration: none;
    font-size: .85em;
}

.fav-navigation figure img {
    width: auto;
    height: 36px;
    vertical-align: middle;    
}

.fav-navigation figure:hover {
    box-shadow: 0.3px 0.3px 20px #bbbbbb;
    transition: all 500ms ease-in-out;  
}

.fav-navigation figure:hover img {
    transform: scale(1.2);
    transition: all 500ms ease-in-out;  
}

.fav-navigation figure figcaption {
    margin-top: -30px;    
    color: gray;
}

.fav-navigation a:nth-of-type(5) figure {
    background-color: #EA0000;
}

.fav-navigation a:nth-of-type(6) figure {
    background-color: #004A95;
}

.fav-navigation a:nth-of-type(8) figure {
    background-color: #A60000;
}


.top-news-small-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top-news-big {
    margin-bottom: 20px;
}

.top-news-small-section figure {
    
}

.top-news-small-section figure img {
    width: 100%;
    height: auto;
}

.league-news-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.league-news-div figure {
    margin: 0 auto;
    width: 90%;
    height: 270px;
    overflow: hidden;
}

.league-news-div figure img {
    width: 100%;
    height: 270px;
    margin: 0 auto;    
}

.league-news-div figure:hover img {
    transform: scale(1.03);
    transition: all 800ms ease-in;
    z-index: 0;
}

.two-columns {
    display: flex;
    justify-content: space-between;
}

.two-columns section {
    width: 47%;    
    height: 500px;
    overflow: scroll;
}

#table-standings img {
    height: 20px;
    width: auto;
}

#table-standings {
    width: 100%;
    color: #A0A5AA;
    margin: 0 auto;
}

#table-standings thead {
    background-color: #F0F2F5;
    text-align: center;
}

#table-standings tr td { 
text-align: center;
}

#table-standings th, table td {     
    padding: .75em 0.25em;
}

#table-standings tr td:nth-of-type(1) {    
    color: rgb(93, 93, 94);
    font-weight: bold;
}

#table-standings tr td:nth-of-type(3) {    
    text-align: left;
}

#table-standings tr td:nth-of-type(8) {    
    color: rgb(93, 93, 94);
    font-weight: bold;
}

#table-standings tr:nth-child(odd){ 
    
}

#table-standings tr:nth-child(even){
    background: rgb(238, 238, 238);
}

#table-standings tr:hover {
    background-color: rgba(4, 47, 64, 0.3);
    color: #fff;
    transition: all 500ms ease-in-out;    
}

#table-matches img {
    height: 20px;
    width: auto;
}

#table-matches {
    /* width: 100%; */
    color: #A0A5AA;
}

#table-matches thead th {
    background-color: #F0F2F5;
    text-align: center;
}

#table-matches th, table td {     
    padding: .75em 0.25em;
}

#table-matches tr td:nth-of-type(1) {    
    text-align: right;
}

#table-matches tr:nth-child(odd){ 
    
}

#table-matches tr:nth-child(even){
    background: rgb(238, 238, 238);
}

#table-matches tr:hover {
    background-color: rgba(4, 47, 64, 0.3);
    color: #fff;
    transition: all 500ms ease-in-out;    
}

/***********************
****** SCROLLBAR *******
***********************/
.two-columns section {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* width */
.two-columns section::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.two-columns section::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 1px;
}

/* Handle */
.two-columns section::-webkit-scrollbar-thumb {
    background: rgb(98, 233, 118);
    border-radius: 5px;
}

/* Handle on hover */
.two-columns section::-webkit-scrollbar-thumb:hover {
    background: #32B846;
    transition: all 500ms ease-in-out;  
}